<!-- review_email.html -->
<!DOCTYPE html>
<html>
<head>
    <title>New Review Submitted</title>
</head>
<body>
    <h1>New Review Submitted</h1>
    <p><strong>Name</strong> {{ name }}</p>
    <p><strong>Street:</strong> {{ street }}</p>
    <p><strong>City:</strong> {{ city }}</p>
    <p><strong>ZIP Code:</strong> {{ zip_code }}</p>
    <p><strong>Phone Number:</strong> {{ phone_number }}</p>
    <p><strong>Review Text:</strong> {{ review_text }}</p>
    <p><a href="{% url 'reviews:approve_review' token=token %}">Approve Review</a></p>
    
</body>
</html>