<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Door Doctor</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    

    <link rel="stylesheet" href="{% static 'css/master.css'%}">

</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-nav align-items-center">
                <a class="navbar-brand" href="{% url 'home' %}">Door Doctor</a>
            </div>
        <div class="navbar-nav ml-auto">
            <a class='nav-item nav-link' href="{% url 'reviews:submit_review' %}" class="btn btn-simple">Submit Review</a>
            <a class='nav-item nav-link' href="{% url 'appointments:request_appointment' %}" class="btn btn-simple">Request Appointment</a>
            <a class='nav-item nav-link' href="{% url 'reviews:review_list' %}" class="btn btn-simple">Customer Testimonies</a>
        </div>    
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>