{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container2">
<h1>Frequently Asked Questions</h1>

<div class="faq-item">
    <h2>Q: Why does my garage door shake when moving up or down?</h2>
    <p>A: This is often caused by failing pulleys. As pulleys wear out, they can start to seize, preventing your garage door from operating smoothly. This is often an easy fix!</p>
</div>

<div class="faq-item">
    <h2>Q: Why do the lights on my garage door opener flash ten times?</h2>
    <p>A: This typically indicates misaligned safety sensors. Fortunately, this is usually a straightforward fix!</p>
</div>

<div class="faq-item">
    <h2>Q: When I try to open my garage door, it lifts a few inches and then closes. What's causing this?</h2>
    <p>A: This issue is likely due to a broken spring. When a spring breaks, the door becomes too heavy for the opener to lift fully, resulting in it only raising a few inches off the ground.</p>
</div>

<div class="faq-item">
    <h2>Q: Can I add Wi-Fi capabilities to my existing garage door opener?</h2>
    <p>A: Yes, this is often possible if your garage door opener is equipped with safety sensors at the bottom of the door.</p>
</div>

<div class="faq-item">
    <h2>Q: Do I need to replace the entire garage door if one of the sections is bent?</h2>
    <p>A: In many cases, depending on the model, we can order individual replacement sections to restore your door without needing a full replacement.</p>
</div>

<div class="faq-item">
    <h2>Q: Do I need a new garage door if I accidentally backed my car into it?</h2>
    <p>A: The need for a replacement depends on the extent of the damage. However, in most cases, we can repair the door so that it functions as it did before the accident.</p>
</div>
</div>

{% endblock %}