{% extends 'base.html' %}

{% block content %}

<div class="container3">
    <h1>Service and Repairs</h1>
    <p>We take pride in fully informing our customers of every available option when it comes to repairing their garage doors. 
        A malfunctioning or damaged garage door doesn't always need to be replaced! 
        One of the most common concerns we hear from customers is that other companies often recommend costly replacements when, in many cases, simple repairs can effectively restore function and save both time and money.</p>

    <p>Whether your door has been accidentally damaged or has worn down over time due to weather and environmental factors, there's a strong possibility it can be repaired to look and operate like new. 
        Our service calls range from routine maintenance to addressing broken components such as springs, pulleys, rollers, tracks, cables, and more!</p>

        <h3>Garage Door Repairs</h3>
        <p>It's not uncommon for a family member to accidentally back their car into the garage door. 
        The first concern is often, 'How am I going to get the car out?' quickly followed by, 'How much will it cost to replace the door?' 
        Rest assured, we can promptly get the door open so you can safely remove your vehicle. Afterward, we'll carefully assess the damage and attempt to restore the door back to full functionality. 
        Our customers consistently appreciate our thorough repair process and are often relieved to avoid the expense of a full door replacement.</p>

        <h3>Spring Repairs</h3>
        <p>One of the most common things to break on a garage door are the springs. It is always best to replace these in pairs.</p>

        <h3>Track Repairs</h3>
        <p>Garage door tracks can often become bent or damaged, frequently due to incidents like a car door being left open while pulling out of the garage or other common mishaps. 
            In many cases, the metal tracks can be carefully reshaped using specialized tools, saving you the cost and hassle of a full track replacement.</p>

        <h3>Garage Door Opener Repairs</h3>
        <p>Most garage door motor manufacturers still have parts readily available for your old motor. One common failure point is the gear and sprocket assembly, 
        which can often be replaced to restore your motor back to life for another 15 years!</p>



</div>

{% endblock %}
